@model IEnumerable<Slowo>;
<h1>Jezyk @ViewBag.NazwaJezyka</h1>

    <table class="table  mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Słówko</th>
                <th scope="col">Przetłumacz</th>
                <th scope="col">Sprawdź odpowiedź</th>
            </tr>
        </thead>
        <tbody>
        @{
            int counter = 1;
            foreach (var slowo in Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    @switch(ViewBag.NazwaJezyka)
                    {
                        case "Angielski":
                            <td id="slowo">@slowo.SlowoAng</td>
                            break;
                        case "Ukraiński":
                            <td id="slowo">@slowo.SlowoUkr</td>
                            break;
                        case "Arabski":
                            <td id="slowo">@slowo.SlowoAra</td>
                            break;
                    }
                    <td><input type="text" name="text" id="odpowiedz"></td>
                    <td><button type="submit" class="btn btn-dark" onclick="sprawdz()"/>Sprwadź</td>
                </tr> 
               counter++;
            }
        }
        </tbody>
    </table>
<script>
    function sprawdz() {
        var tekst1 = document.getElementById("odpowiedz").value;
        var tekst2 = document.getElementById("slowo");
        if (tekst1 === tekst2.textContent) {
            return tekst2.style.color = "#90ee90";
        } else {
            return tekst2.style.color = "#ff0000";
        }
    }
</script>
    
