@model IEnumerable<Slowo>;
<h1>Jezyk @ViewBag.NazwaJezyka</h1>

    <table class="table  mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Słówko</th>
                <th scope="col">Przetłumacz</th>
                <th scope="col">Sprawdź odpowiedź</th>
            </tr>
        </thead>
        <tbody>
        @{
            int counter = 1;
            foreach (var slowo in Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    @switch(ViewBag.NazwaJezyka)
                    {
                        case "Angielski":
                            <td>@slowo.SlowoAng</td>
                            break;
                        case "Ukraiński":
                            <td>@slowo.SlowoUkr</td>
                            break;
                        case "Arabski":
                            <td>@slowo.SlowoAra</td>
                            break;
                    }
                    <td><input type="text"></td>
                    <td><button type="submit" class="btn btn-dark"/>Sprwadź</td>
                </tr> 
               counter++;
            }
        }
        </tbody>
    </table>
    
